/*medias queries
@media(max-width:991px) {
    .header_menu ul {
        display: grid;
    }

    .header_titulo {
        font-size: 18px;
    }

    .contenedor_header p {
        padding: 7px;
    }

    .footer_menu ul {
        display: grid;
    }

    .contenedor_header_producto {
        height: 110px;
    }

}


@media(max-width:480px) {
    .header_menu ul {
        display: grid;
    }

    .header_titulo {
        font-size: 18px;
    }

    .contenedor_header p {
        padding: 7px;
    }

    .footer_menu ul {
        display: grid;
    }

    .contenedor_productos {
        display: flex;
        flex-direction: column;
    }

    .contenedor_header_producto {
        height: 110px;
    }

    .contenedor_coleccion {
        display: flex;
        flex-direction: column;
    }
}*/